<h3>Clientes</h3> 
<!-- div row para pesquisa --> 
<!--<div class="row">--> 
<div ng-hide="Cliente.inserting || Cliente.editing" data-component="crn-datasource-filter" id="crn-datasource-filter-general" class=""> 
  <div class="form-group"> 
    <label for="textinput-filter" class="">{{"template.crud.search" | translate}}</label> 
    <input type="text" ng-model="vars.search" cronapp-filter="nome;" cronapp-filter-operator="" cronapp-filter-caseinsensitive="false" cronapp-filter-autopost="true" crn-datasource="Cliente" class="form-control" value="" placeholder="{{'template.crud.search' | translate}}"> 
  </div> 
</div> 
<!-- fim div row para pesquisa --> 
<!--</div>--> 
<datasource filter="" name="Cliente" entity="api/cronapi/crud/app.entity.Cliente" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
<div class="component-holder" data-component="crn-grid" id="crn-grid-Cliente"> 
  <div crn-datasource="Cliente" class="" ng-hide="Cliente.editing || Cliente.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
          <th class=""> 
            <div class="">
              Nome
            </div> </th> 
          <th class=""> 
            <div class="">CNPJ</div> </th> 
          <th>
            <div data-container="true">
              Telefone
            </div></th>
          <th class=""> 
            <div class="">
              {{"template.crud.actions" | translate}}
            </div> </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
          <td class=""> 
            <div class="">
               {{rowData.nome }} 
            </div> </td> 
          <td class=""> 
            <div class="">{{rowData.cnPJ}}</div> </td> 
          <td>
            <div data-container="true">{{rowData.telefone1 | mask:'(99) 9999-9999'}}</div></td>
          <td class=""> 
            <div class=""> 
              <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="blockly.js.blockly.ModalClienteAdmin.exibir()"><i class="glyphicon glyphicon-list-alt"></i></button> 
              <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
            </div> </td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<!-- OneToOne modal --> 
<!-- OneToOne modal end--> 
<div class="modal fade" id="modal8785"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="component-holder modal-header"> 
        <div class="list-group list-group-sm row"> 
          <div data-container="true" data-replace="false">
            <h1 class="lead text-center component-holder" xattr-position="text-center" data-component="crn-title" id="crn-title-137386">Dados do Cliente</h1>
          </div> 
        </div> 
      </div> 
      <div class="modal-body"> 
        <div class="list-group list-group-sm row"> 
          <div data-container="true" data-replace="false">
            <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-textinput" id="crn-textinput-nome">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.nome" class="form-control" id="nome" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-textinput" id="crn-textinput-email">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.user.email" class="form-control" id="email" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-md-6 col-xs-12" data-component="crn-textinput" id="crn-textinput-cpf">
              <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.cpF" class="form-control" id="cpf" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-rg">
              <div class="form-group">
                <label for="rg">RG</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.rg" class="form-control" id="rg" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-espec">
              <div class="form-group">
                <label for="espec">Especialidade</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.especialidade" class="form-control" id="espec" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-cro">
              <div class="form-group">
                <label for="cro">CRO</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.crO" class="form-control" id="cro" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-dtNasc">
              <div class="form-group">
                <label for="dtNasc">Data de Nascimento</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.dataNascimento | mask:'date'" class="form-control" id="dtNasc" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-cep">
              <div class="form-group">
                <label for="cep">CEP</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.ceP" class="form-control" id="cep" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-endereco">
              <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.endereco" class="form-control" id="endereco" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-bairro">
              <div class="form-group">
                <label for="bairro">Bairro</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.bairro" class="form-control" id="bairro" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-cidade">
              <div class="form-group">
                <label for="cidade">Cidade</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.cidade" class="form-control" id="cidade" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-estado">
              <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.estado" class="form-control" id="estado" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-tel1">
              <div class="form-group">
                <label for="tel1">Telefone Principal</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.telefone1" class="form-control" id="tel1" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-tel2">
              <div class="form-group">
                <label for="tel2">Telefone</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.telefone2" class="form-control" id="tel2" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-razao">
              <div class="form-group">
                <label for="razao">Razão Social</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.razaoSocial" class="form-control" id="razao" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-cnpj">
              <div class="form-group">
                <label for="cnpj">CNPJ</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.cnPJ" class="form-control" id="cnpj" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-estadual">
              <div class="form-group">
                <label for="estadual">Inscrição Estadual</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.inscricaoEstadual" class="form-control" id="estadual" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12  col-md-6" data-component="crn-textinput" id="crn-textinput-municipal">
              <div class="form-group">
                <label for="municipal">Inscrição Municipal</label>
                <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="Cliente.active.inscricaoMunicipal" class="form-control" id="municipal" placeholder="" ng-disabled="Cliente.inserting || Cliente.editing">
              </div>
            </div>
          </div> 
        </div> 
      </div> 
      <div class="modal-footer"> 
        <div class="list-group list-group-sm row"> 
          <div data-container="true" data-replace="false">
            <button class="btn component-holder btn-danger" type="submit" ng-click="blockly.js.blockly.ModalClienteAdmin.fechar()" xattr-size="" xattr-fullsize="" xattr-theme="btn-danger" data-component="crn-button" id="crn-button-735994"><i class="glyphicon glyphicon-arrow-left"></i> <span>Voltar</span></button>
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
</div>