<h3>Detalhes da Solicitação</h3><h2 class="lead component-holder text-left" xattr-position="text-left" data-component="crn-subtitle" id="crn-subtitle-712965">{{Pedido.active.protocolo}}</h2>

<!-- div row para pesquisa -->
<!--<div class="row">-->

    


<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="Pedido" entity="api/cronapi/query/sopo99ykfinr/{{Pedido.active.id}}/" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>

<div data-component="crn-form" id="crn-form-form-Pedido">
    <div class="form" ng-show="Pedido.editing || Pedido.inserting">
        <form crn-datasource="Pedido" class="">
            
            
            <br>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-cliente" class="">
                    <div class="form-group">
                        <label for="textinput-cliente" class="">Cliente</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="number" ng-model="Pedido.active.cliente.nome" class="form-control" id="textinput-cliente" placeholder="" mask="" mask-placeholder="" ng-required="false" ng-disabled="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div><div data-component="crn-textinput" id="crn-textinput-paciente" class="">
                    <div class="form-group">
                        <label for="textinput-paciente" class="">Paciente</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input maxlength="120" type="text" ng-model="Pedido.active.paciente" class="form-control" id="textinput-paciente" placeholder="" mask="" mask-placeholder="" ng-required="false" ng-disabled="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-sexo" class="">
                    <div class="form-group">
                        <label for="textinput-sexo" class="">Sexo</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input maxlength="10" type="text" ng-model="Pedido.active.sexo" class="form-control" id="textinput-sexo" placeholder="" mask="" mask-placeholder="" ng-required="false" ng-disabled="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-dataNascimentoPaciente" class="">
                    <div class="form-group">
                        <label for="textinput-dataNascimentoPaciente" class="">Data Nascimento</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="date" ng-model="Pedido.active.dataNascimentoPaciente | mask:'date'" class="form-control" id="textinput-dataNascimentoPaciente" placeholder="Data Nascimento" mask="DD/MM/YYYY" mask-placeholder="" ng-required="false" ng-disabled="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-idadePaciente" class="">
                    <div class="form-group">
                        <label for="textinput-idadePaciente" class="">Idade</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="integer" ng-model="Pedido.active.idadePaciente" class="form-control" id="textinput-idadePaciente" placeholder="" mask="" mask-placeholder="" ng-required="false" ng-disabled="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-dataEntregaSolicitada" class="">
                    <div class="form-group">
                        <label for="textinput-dataEntregaSolicitada" class="">Entrega</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="date" ng-model="Pedido.active.dataEntregaSolicitada | mask:'date'" class="form-control" id="textinput-dataEntregaSolicitada" placeholder="" mask="DD/MM/YYYY" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div><div data-component="crn-textinput" id="crn-textinput-dataPrevisao" class="">
                    <div class="form-group">
                        <label for="textinput-dataPrevisao" class="">Data Previsão</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="date" ng-model="Pedido.active.dataPrevisao" class="form-control" id="textinput-dataPrevisao" placeholder="Data Previsão" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div><div data-component="crn-textinput" id="crn-textinput-observacoes" class="">
                    <div class="form-group">
                        <label for="textinput-observacoes" class="">Observações</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input maxlength="150" type="text" ng-model="Pedido.active.observacoes" class="form-control" id="textinput-observacoes" placeholder="" mask="" mask-placeholder="" ng-required="false" ng-disabled="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    

                

                <div data-component="crn-textinput" id="crn-textinput-valor" class="">
                    <div class="form-group">
                        <label for="textinput-valor" class="">Valor</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="number" ng-model="Pedido.active.valor" class="form-control" id="textinput-valor" placeholder="" mask="" mask-placeholder="" ng-required="false" ng-disabled="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                

                
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<!-- OneToOne modal end-->
