<h3>Lista de preço</h3>

<div class="button">
    <button class="btn component-holder btn-primary" type="submit" ng-click="blockly.js.blockly.ModalListaPreco.exibir()" xattr-size="" xattr-fullsize="" xattr-theme="btn-primary" data-component="crn-button" id="crn-button-642434"><i class="glyphicon glyphicon-plus"></i> <span>Nova Lista</span></button>
</div>
<br>
<br>
<!-- div row para pesquisa -->
<!--<div class="row">-->



<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="ListaPreco" entity="api/cronapi/crud/app.entity.ListaPreco" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
<div class="component-holder" data-component="crn-grid" id="crn-grid-ListaPreco">
    <div crn-datasource="ListaPreco" class="" ng-hide="ListaPreco.editing || ListaPreco.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                <th class="">
                    <div class="">Nome</div>
                </th>
                <th class="">
                    <div class="">Ordem</div>
                </th>
                <th class="">
                    <div class="">Ativo</div>
                </th>
                <th class="">
                    <div class="">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                <td class="">
                    <div class="">
                                {{rowData.nome  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.ordem  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.ativo  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-ListaPreco">
    <div class="form" ng-show="ListaPreco.editing || ListaPreco.inserting">
        <form crn-datasource="ListaPreco" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-nome" class="col-md-6">
                    <div class="form-group">
                        <label for="textinput-nome" class="">Nome</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input maxlength="120" type="text" ng-model="ListaPreco.active.nome" class="form-control" id="textinput-nome" placeholder="Nome" mask="" mask-placeholder="" ng-required="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                

                <div data-component="crn-textinput" id="crn-textinput-ordem" class="col-md-2">
                    <div class="form-group">
                        <label for="textinput-ordem" class="">Ordem</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="integer" ng-model="ListaPreco.active.ordem" class="form-control" id="textinput-ordem" placeholder="Ordem" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div><div data-component="crn-textinput" id="crn-textinput-ativo" class="col-md-2">
                    <div class="form-group">
                        <label for="textinput-ativo" class="">Ativo</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="text" ng-model="ListaPreco.active.ativo" class="form-control" id="textinput-ativo" placeholder="Ativo" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<!-- OneToOne modal end-->
<div class="modal fade" id="modalLista"> 
  <div class="modal-dialog"> 
    <div class="component-holder ng-binding ng-scope" data-component="crn-panel" id="crn-panel-511171"> 
      <div class="panel panel-primary" xattr-theme="panel-primary" data-container="true"> 
        <div class="panel-heading" data-container="true"> 
          <div class="panel-title"> 
            <div class="lead text-center component-holder" data-component="crn-title" xattr-position="text-center">
              Nova Lista
            </div> 
          </div> 
        </div> 
        <form id="lista">
        <div class="panel-body" data-container="true"> 
          <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-nome">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" mask="" mask-placeholder="" ng-required="true" ng-model="vars.nome" class="form-control" id="nome" placeholder="Nome">
            </div>
          </div><div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-ordem">
            <div class="form-group">
              <label for="ordem">Ordem</label>
              <input type="text" mask="" mask-placeholder="" ng-required="true" ng-model="vars.ordem" class="form-control" id="ordem" placeholder="Ordem">
            </div>
          </div>
          <div class="form-group component-holder" ng-model="vars.ativo" data-component="crn-radiogroup" id="crn-radiogroup-ativo">
                <label for="exampleInputEmail1">Ativo</label>
            <div class="radio" data-component="crn-radioOption">
              <label class="" crn-value="" value="Sim"><input type="radio" name="ativo" id="radioOptionssim"> <span class="">Sim</span></label>
            </div>
            <div class="radio" data-component="crn-radioOption">
              <label class="" crn-value="" value="Não"><input type="radio" name="ativo" id="radioOptionsnao"> <span class="">Não</span></label>
            </div>
          </div>
        </div> 
        <div class="panel-footer" data-container="true"> 
            <div class="">
          <button class="btn component-holder btn-danger" type="submit" ng-click="blockly.js.blockly.ModalListaPreco.fechar()" xattr-size="" xattr-fullsize="" xattr-theme="btn-danger" data-component="crn-button" id="crn-button-872742"><i class="glyphicon glyphicon-remove"></i> <span>Cancelar</span></button>
          <button class="btn component-holder btn-success" type="submit" ng-click="blockly.js.blockly.ModalListaPreco.inserir()" xattr-size="" xattr-fullsize="" xattr-theme="btn-success" data-component="crn-button" id="crn-button-745155"><i class="glyphicon glyphicon-ok"></i> <span>Salvar</span></button></div>
        </div>
        </form>
      </div> 
      
    </div> 
  </div> 
</div>
