<ion-view view-title="Crool"> 
  <ion-content> 
    <div class="component-holder ng-binding ng-scope" data-component="crn-div" id="crn-div-929090" style="padding-top: 60px;"> 
      <div class="list"> 
        <div class="col text-center"> 
          <div class="component-holder ng-binding ng-scope" data-component="crn-image" id="crn-image-174578" ng-click="vibrate()"> 
            <img src="img/logo.png"> 
          </div> 
        </div> 
        <div class="component-holder ng-binding ng-scope" data-component="crn-div-horizontal" id="crn-div-horizontal-270296"> 
          <div class="row"> 
            <div class="col active"> 
              <div class="text-center"> 
                 
              </div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
          </div>
           
        </div> 
      </div> 
    </div> 
  </ion-content> 
</ion-view>