<ion-view cache-view="false" view-title="SOLICITAÇÃO DE PEDIDO" hide-back-button="true"> 
  <ion-content> 
    <div> 
      <form crn-datasource="Pedido"> 
        <fieldset> 
          <div class="list"> 
            <!-- paciente begin --> 
            <div class="component-holder ng-binding ng-scope col-xs-12" data-component="crn-datasource" id="crn-datasource-347691"> 
              <datasource name="TipoTrabalho" entity="api/cronapi/crud/app.entity.TipoTrabalho" keys="id" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill=""></datasource> 
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12" data-component="crn-datasource" id="crn-datasource-430132">
              
            </div> 
            <div class="component-holder ng-binding ng-scope col-xs-12" data-component="crn-datasource" id="crn-datasource-1076440">
              <datasource name="ItemPedido" entity="api/cronapi/query/1hrmhql8ryd69/{{vars.idPedido}}/" keys="id" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill=""></datasource>

<datasource name="Servico" entity="api/cronapi/query/s1jgthy9zqk1/{{TipoTrabalho.active.id}}/" keys="id" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill=""></datasource>
            </div> 
            <ion-item class="item dark component-holder col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-Paciente"> 
              <h2 xattr-position="text-left" class="component-holder text-left" data-component="crn-label" id="crn-label-714924">Nome do Paciente</h2> 
              <label class="item item-input component-holder" data-component="crn-input" id="crn-input-331500"><input id="textinput-id" type="text" placeholder="Paciente" ng-model="vars.txtPaciente" mask="" required="required"></label> 
            </ion-item><ion-item class="item dark component-holder col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-dtNasc"> 
              <h2 xattr-position="text-left" class="component-holder text-left" data-component="crn-label" id="crn-label-dtNasc">Data de Nascimento</h2> 
              <label class="item item-input component-holder" data-component="crn-input" id="crn-input-dataNasc"><input id="textinput-id" type="date" placeholder="" ng-model="vars.dtNasc" mask="" required="required"></label> 
            </ion-item><ion-item class="item dark component-holder col-xs-6" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-Idade"> 
              <h2 xattr-position="text-left" class="component-holder text-left" data-component="crn-label" id="crn-label-735912">Idade</h2> 
              <label class="item item-input component-holder" data-component="crn-input" id="crn-input-249751"><input id="textinput-id" type="text" placeholder="Idade" ng-model="vars.txtIdade" mask="" required="required"></label> 
            </ion-item><ion-item class="item dark component-holder  col-xs-6" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-CodPaciente"> 
              <h2 xattr-position="text-left" class="component-holder text-left" data-component="crn-label" id="crn-label-codPaciente">Código do Paciente</h2> 
              <label class="item item-input component-holder" data-component="crn-input" id="crn-input-codigo"><input id="textinput-id" type="text" placeholder="Código" ng-model="vars.txtCodPaciente" mask="" required="required"></label> 
            </ion-item> 
            <!-- sexo begin --> 
             
            <ion-item class="item dark component-holder  col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-Sexo"> 
              <h2 xattr-position="text-left" class="component-holder text-left" data-component="crn-label" id="crn-label-634107">Sexo</h2> 
              <label class="item item-input item-select component-holder" data-component="crn-select" id="crn-select-558250"> 
                <div class="input-label"></div><select ng-model="vars.txtSexo" required="required"><option>Feminino</option><option>Masculino</option></select></label> 
            </ion-item> 
            <!-- idadePaciente begin --> 
            <!-- dataEntregaSolicitada begin --> 
            <ion-item class="item dark component-holder  col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-Entrega"> 
              <h2 xattr-position="text-left" class="component-holder text-left" data-component="crn-label" id="crn-label-855552">Data de Entrega</h2> 
              <label class="item item-input component-holder" data-component="crn-input" id="crn-input-637375"><input id="textinput-id" type="date" placeholder="" ng-model="vars.dtEntrega" mask="" required="required"></label> 
            </ion-item> 
            <!-- tipoTrabalho begin --> 
            <ion-item class="item dark component-holder  col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-TipoTrabalho"> 
              <h2 xattr-position="text-left" class="component-holder text-left" data-component="crn-label" id="crn-label-796544">Tipo de Trabalho</h2> 
              <label class="item item-input item-select component-holder" data-component="crn-select" id="crn-select-713550"> 
                <div class="input-label"></div><select ng-model="TipoTrabalho.active" class="form-control" id="textinput-tipo" name="textinput-tipo" ng-options="opt as opt.nome for opt in TipoTrabalho.data track by opt.id" required="" ng-mouseleave="blockly.js.PedidoNovo.Executar(TipoTrabalho.active)" ng-mouseup=""> <option value=""></option> </select> </label> 
            </ion-item> 
            <div data-replace="true" data-component="crn-container" class="component-holder col-xs-12" id="crn-container-Odontograma" ng-hide="true">
               &nbsp; 
              <table border="0" align="center" width="100%" id="odonto"> 
                <tbody style=""> 
                  <tr style=""> 
                    <td><label for="18">18</label></td> 
                    <td><label for="17">17</label></td> 
                    <td><label for="16">16</label></td> 
                    <td><label for="15">15</label></td> 
                    <td><label for="14">14</label></td> 
                    <td><label for="13">13</label></td> 
                    <td><label for="12">12</label></td> 
                    <td><label for="11">11</label></td> 
                    <td>&nbsp;<span class="span-borda"></span>&nbsp;&nbsp;</td> 
                    <td><label for="21">21</label></td> 
                    <td><label for="22">22</label></td> 
                    <td><label for="23">23</label></td> 
                    <td><label for="24">24</label></td> 
                    <td><label for="25">25</label></td> 
                    <td><label for="26">26</label></td> 
                    <td><label for="27">27</label></td> 
                    <td><label for="28">28</label></td> 
                  </tr> 
                  <tr style=""> 
                    <td><input type="checkbox" id="18" value="18" ng-model="vars.dente18" ng-true-value="18"></td> 
                    <td><input type="checkbox" id="17" value="17" ng-model="vars.dente17" ng-true-value="17"></td> 
                    <td><input type="checkbox" id="16" value="16" ng-model="vars.dente16" ng-true-value="16"></td> 
                    <td><input type="checkbox" id="15" value="15" ng-model="vars.dente15" ng-true-value="15"></td> 
                    <td><input type="checkbox" id="14" value="14" ng-model="vars.dente14" ng-true-value="14"></td> 
                    <td><input type="checkbox" id="13" value="13" ng-model="vars.dente13" ng-true-value="13"></td> 
                    <td><input type="checkbox" id="12" value="12" ng-model="vars.dente12" ng-true-value="12"></td> 
                    <td><input type="checkbox" id="11" value="11" ng-model="vars.dente11" ng-true-value="11"></td> 
                    <td>&nbsp;<span class="span-borda"></span>&nbsp;&nbsp;</td> 
                    <td><input type="checkbox" id="21" value="21" ng-model="vars.dente21" ng-true-value="21"></td> 
                    <td><input type="checkbox" id="22" value="22" ng-model="vars.dente22" ng-true-value="22"></td> 
                    <td><input type="checkbox" id="23" value="23" ng-model="vars.dente23" ng-true-value="23"></td> 
                    <td><input type="checkbox" id="24" value="24" ng-model="vars.dente24" ng-true-value="24"></td> 
                    <td><input type="checkbox" id="25" value="25" ng-model="vars.dente25" ng-true-value="25"></td> 
                    <td><input type="checkbox" id="26" value="26" ng-model="vars.dente26" ng-true-value="26"></td> 
                    <td><input type="checkbox" id="27" value="27" ng-model="vars.dente27" ng-true-value="27"></td> 
                    <td><input type="checkbox" id="28" value="28" ng-model="vars.dente28" ng-true-value="28"></td> 
                  </tr> 
                  <tr style=""> 
                    <td colspan="17" class="table-borda"></td> 
                  </tr> 
                  <tr style=""> 
                    <td class="pt"><label for="48">48</label></td> 
                    <td class="pt"><label for="47">47</label></td> 
                    <td class="pt"><label for="46">46</label></td> 
                    <td class="pt"><label for="45">45</label></td> 
                    <td class="pt"><label for="44">44</label></td> 
                    <td class="pt"><label for="43">43</label></td> 
                    <td class="pt"><label for="42">42</label></td> 
                    <td class="pt"><label for="41">41</label></td> 
                    <td>&nbsp;<span class="span-borda"></span>&nbsp;&nbsp;</td> 
                    <td class="pt"><label for="31">31</label></td> 
                    <td class="pt"><label for="32">32</label></td> 
                    <td class="pt"><label for="33">33</label></td> 
                    <td class="pt"><label for="34">34</label></td> 
                    <td class="pt"><label for="35">35</label></td> 
                    <td class="pt"><label for="36">36</label></td> 
                    <td class="pt"><label for="37">37</label></td> 
                    <td class="pt"><label for="38">38</label></td> 
                  </tr> 
                  <tr style=""> 
                    <td><input type="checkbox" id="48" value="48" ng-model="vars.dente48" ng-true-value="48"></td> 
                    <td><input type="checkbox" id="47" value="47" ng-model="vars.dente47" ng-true-value="47"></td> 
                    <td><input type="checkbox" id="46" value="46" ng-model="vars.dente46" ng-true-value="46"></td> 
                    <td><input type="checkbox" id="45" value="45" ng-model="vars.dente45" ng-true-value="45"></td> 
                    <td><input type="checkbox" id="44" value="44" ng-model="vars.dente44" ng-true-value="44"></td> 
                    <td><input type="checkbox" id="43" value="43" ng-model="vars.dente43" ng-true-value="43"></td> 
                    <td><input type="checkbox" id="42" value="42" ng-model="vars.dente42" ng-true-value="42"></td> 
                    <td><input type="checkbox" id="41" value="41" ng-model="vars.dente41" ng-true-value="41"></td> 
                    <td>&nbsp;<span class="span-borda"></span>&nbsp;&nbsp;</td> 
                    <td><input type="checkbox" id="31" value="31" ng-model="vars.dente31" ng-true-value="31"></td> 
                    <td><input type="checkbox" id="32" value="32" ng-model="vars.dente32" ng-true-value="32"></td> 
                    <td><input type="checkbox" id="33" value="33" ng-model="vars.dente33" ng-true-value="33"></td> 
                    <td><input type="checkbox" id="34" value="34" ng-model="vars.dente34" ng-true-value="34"></td> 
                    <td><input type="checkbox" id="35" value="35" ng-model="vars.dente35" ng-true-value="35"></td> 
                    <td><input type="checkbox" id="36" value="36" ng-model="vars.dente36" ng-true-value="36"></td> 
                    <td><input type="checkbox" id="37" value="37" ng-model="vars.dente37" ng-true-value="37"></td> 
                    <td><input type="checkbox" id="38" value="38" ng-model="vars.dente38" ng-true-value="38"></td> 
                  </tr> 
                </tbody> 
              </table> &nbsp; 
            </div> 
            <ion-item class="item dark component-holder col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-Grupo" ng-hide="true">
               Serviço 
              <label class="item item-input item-select component-holder col-xs-12" data-component="crn-select" id="crn-select-438011"> 
                <div class="input-label"></div><select ng-model="Servico.active" class="form-control" id="textinput-item" name="textinput-item" ng-options="opt as opt.descricao for opt in Servico.data track by opt.id"><option value=""></option></select></label> 
            </ion-item> 
            <ion-item class="item dark component-holder col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-Cor" ng-hide="true">
               Cor 
              <label class="item item-input component-holder col-xs-12" data-component="crn-input" id="crn-input-693589"><input id="textinput-id" type="text" placeholder="" ng-model="vars.txtCor" mask=""></label> 
            </ion-item> 
            <ion-item class="item dark component-holder col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-btnAdd" ng-hide="true"> 
              <button class="button button-dark component-holder col-xs-12 button-outline" type="submit" ng-click="blockly.js.PedidoNovo.adicionar()" data-component="crn-button" id="crn-button-btnAdicionar" xattr-type="button-outline" xattr-size=""><i class="ion ion-android-add"></i> <span>Adicionar Item</span></button> 
            </ion-item> 
            <div data-replace="true" data-component="crn-container" class="component-holder col-xs-12" id="crn-container-ItensPedido" ng-hide="true">
               &nbsp; 
              <div crn-datasource="ItemPedido" class=""> 
                <ion-list can-swipe="listCanSwipe"> 
                  <ion-item ng-repeat="rowData in datasource.data" class="item"> 
                    <div class="row"> 
                      <div class="col">{{rowData.tipoTrabalho}}</div> 
                      <div class="col">{{rowData.nomeServico}}</div> 
                      <div class="col">
                        {{rowData.cor}}
                      </div> 
                      <div class="col">
                        {{rowData.dente}}
                      </div> 
                    </div> 
                    <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
                       &nbsp; 
                      <i class="icon ion-trash-a"></i> 
                    </ion-option-button> 
                  </ion-item> 
                </ion-list> 
              </div> &nbsp; 
            </div> 
            <ion-item class="item dark component-holder col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-Observacoes" ng-hide="true">
               Observações 
              <label class="item item-input component-holder col-xs-12" data-component="crn-input" id="crn-input-442799"><input id="textinput-id" type="text" placeholder="" ng-model="vars.txtObs" mask=""></label> 
            </ion-item> 
            <br> 
            <br> 
            <button class="button component-holder button-block button-positive col-xs-12" type="submit" ng-click="cronapi.util.makeCallServerBlocklyAsync('blockly.PedidoNovoMobile:finalizarPedido', null, null, vars.idPedido)" data-component="crn-button" id="crn-button-btnFinalizar" xattr-fullsize="button-block" xattr-theme="button-positive" ng-hide="true"><i class="ion ion-android-checkmark-circle"></i> <span>Finalizar</span></button><label class="item item-input component-holder col-xs-12" data-component="crn-input" id="crn-input-990322" ng-hide="true"><input id="textinput-id" type="text" placeholder="" ng-model="vars.idPedido" mask="" ng-disabled="true" ng-hide="true"></label> 
          </div> 
        </fieldset> 
      </form> 
    </div> 
  </ion-content> 
</ion-view>