<?xml version="1.0" encoding="UTF-8"?><Context>
    <Resource accessToUnderlyingConnectionAllowed="true" driverClassName="com.mysql.jdbc.Driver" logAbandoned="true" name="jdbc/techprotes" password="q8o20ps94n077q3o" profile="DEV" removeAbandoned="" removeAbandonedTimeout="60" schema="" type="javax.sql.DataSource" url="jdbc:mysql://rds-oncronos-shared.cx8gelec2ybx.us-east-1.rds.amazonaws.com:3306/e0f14dab-bf65-43ed-8b20-cf94a077d3b2?createDatabaseIfNotExist=true" username="r0s14qnoos6543rq"/>
    <Profile value="DEV"/>
</Context>
