.genClass9455 { 
  border: 1px solid rgb(192, 192, 192);
}



.genClass9672 { 
  float: right;
}

.genClass1158 { 
  text-align: right;
}

.genClass9856 { 
  height: 75px;
}

.genClass8701 { 
  margin-top: 24px;
}
