

.genClass1037 { 
  width: auto;
  padding-top: 200px;
}

.genClass9671 { 
  float: right;
  margin-bottom: 50px;
  margin-top: 20px;
}

.genClass1643 { 
  text-align: center;
}

.genClassOdonto { 
  display:block;
}

.genClass1957 { 
}